* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  height: 100vh;

  background: #06283d;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  margin: 0 auto;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  background-color: transparent;
}
/* #region container */
.container {
  background: #ffffff;
  position: relative;

  width: calc(100% - 30px);
  max-width: 450px;

  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  overflow: hidden;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;

  max-height: 100px; /* стартова висота */
  transition: max-height 0.6s ease;
}
.container.expanded {
  max-height: 600px; /* гарантовано більше ніж контент */
}
.container.collapsed {
  max-height: 100px;
}
/* #endregion */

.dev-info {
  align-self: flex-end;
  margin-right: 15px;

  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: #ffffff;
}

/* #region search box */
.search-box {
  background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-box i {
  color: #06283d;
  font-size: 35px;
  background-color: rgb(255, 255, 255);
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0; /* ❗ НЕ дозволяємо стискатись */
}
.search-box input {
  color: #06283d;
  flex: 1; /* займає весь вільний простір */
  min-width: 0; /* ❗ ОБОВʼЯЗКОВО для стискання */

  font-size: 24px;
  font-weight: 500;

  padding-left: 25px;
  background-color: rgb(255, 255, 255);
}
.search-box input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #06283d;
  text-transform: capitalize;
}
.search-box button {
  cursor: pointer;

  color: #06283d;
  background: #dff6ff;
  height: 50px;
  width: 50px;

  border-radius: 50%;

  font-size: 25px;
  transition: 0.4s ease;

  flex-shrink: 0; /* ❗ НЕ дозволяємо стискатись */
}
.search-box button:hover {
  color: #fff;
  background: #06283d;
}

/* #endregion */

/* #region weather box */
.weather-box {
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.weather-box img {
  width: 60%;
  margin-top: 30px;

  background-color: rgb(255, 255, 255);
}
.weather-box .temperature {
  position: relative;
  color: #06283d;
  font-size: 4rem;
  font-weight: 800;

  margin-left: -16px;
}
.weather-box .temperature span {
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}
.weather-box .description {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}
/* #endregion */

/* #region weather details */
.weather-details {
  width: 100%;

  display: flex;
  justify-content: space-between;

  background-color: rgb(255, 255, 255);
}
.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}
.weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}
.weather-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}
.weather-details i {
  color: #06283d;
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
}
.weather-details span {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
}
.weather-details p {
  color: #06283d;
  font-size: 14px;
  font-weight: 500;
}
/* #endregion */

/* #region not found */
.not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}
.not-found img {
  width: 70%;
}
.not-found p {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}
.weather-box,
.weather-details {
  scale: 0;
  opacity: 0;
}
.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}
/* #endregion */

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
