* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
img {
  display: block;
}
body {
  height: 100vh;
  background: #06283d;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  margin: 0 auto;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  background-color: transparent;
}

/* #region container */
.container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: calc(100% - 30px);
  max-width: 450px;

  padding: 25px;
  overflow: hidden;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;

  max-height: 100px; /* стартова висота */
  transition: max-height 0.6s ease;
}
.container.expanded {
  max-height: 600px; /* гарантовано більше ніж контент */
}
.container.collapsed {
  max-height: 100px;
}
/* #endregion */

/* #region dev-info */
.dev-info {
  display: flex;
  justify-content: center;
  align-items: center;

  align-self: flex-end;

  height: 50px;
  width: 50px;

  transition: max-height 0.6s ease;
  border-radius: 15px;
  background-color: #ffffff;
  opacity: 10%;

  margin-right: 15px;
}
.dev-info:hover {
  opacity: 100%;

  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.dev-info a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.author-pick {
  height: 75%;
  width: 75%;
}
/* #endregion */

/* #region search box */
.search-box {
  background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-box i {
  color: #06283d;
  font-size: 35px;
  background-color: rgb(255, 255, 255);
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0; /* ❗ НЕ дозволяємо стискатись */
}
.search-box input {
  color: #06283d;
  flex: 1; /* займає весь вільний простір */
  min-width: 0; /* ❗ ОБОВʼЯЗКОВО для стискання */

  font-size: 24px;
  font-weight: 500;

  padding-left: 25px;
  background-color: rgb(255, 255, 255);
}
.search-box input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #06283d;
  text-transform: capitalize;
}
.search-box button {
  cursor: pointer;

  color: #06283d;
  background: #dff6ff;
  height: 50px;
  width: 50px;

  border-radius: 50%;

  font-size: 25px;
  transition: 0.3s ease-in-out;

  flex-shrink: 0; /* ❗ НЕ дозволяємо стискатись */
}
.search-box button:hover {
  color: #fff;
  background: #06283d;
}
.search-box button.fa-xmark {
  margin-left: 10px;
}

/* #endregion */

/* #region weather box */
.weather-box {
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.weather-box img {
  width: 45%;
  height: 150px;
}
.weather-info {
  width: 50%;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #ececec;

  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.weather-box .temperature {
  color: #06283d;
  font-size: 3rem;
  font-weight: 800;
}
.weather-box .temperature span {
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}
.weather-box .description {
  color: #06283d;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
/* #endregion */

/* #region weather details */
.weather-details {
  width: 100%;

  display: flex;
  justify-content: space-between;

  background-color: rgb(255, 255, 255);
}
.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
}
.weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
  background-color: #ffffff;
}
.weather-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
  background-color: #ffffff;
}
.weather-details i {
  color: #06283d;
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
  background-color: rgb(255, 255, 255);
}
.weather-details span {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
}
.weather-details p {
  color: #06283d;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
}
/* #endregion */

/* #region not found */
.not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;

  background-color: rgb(255, 255, 255);
}
.not-found img {
  width: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
}
.not-found p {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}
/* #endregion */

.op-name {
  color: #ffffff;
  align-self: flex-end;
  opacity: 10%;
  margin-right: 15px;
}
.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
